= form_for @ticket, :html => { :class => 'super', :multipart => true } do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2
        = pluralize(@ticket.errors.count, "error")
        prohibited
        this ticket from being saved:
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :tittle
    %br/
    = f.text_field :tittle
  %p
    = f.label :description
    %br/
    = f.text_area :description
  %p
    = f.label :priority
    %br/
    = f.text_field :priority
  %p
    = f.label :difficulty
    %br/
    = f.text_field :difficulty
  %p
    = f.label :status
    %br/
    = f.text_field :status
  %p
    = f.submit
