= simple_form_for([@project, @project.tickets.build], html: { class: 'form-vertical' }) do |f|   
  = f.input :name
  = f.input :description
  = f.input :priority
  = f.input :difficulty
  = f.input :status
  = f.input :picture
  = f.check_box :remove_picture
  %br
  %br
  .btn-group{:role => "group"}
  = f.button :submit
  =link_to 'Back to list of tickets', project_tickets_path(@project) , method: :get, class: "btn btn-default"
  %br