.page-header
  %h1
    = @ticket.name
    %small from project 
    = @project.name
    
= @ticket.description
= @ticket.status
= @ticket.difficulty
= image_tag @ticket.picture.url(:medium)

=link_to 'Back to list of tickets', project_tickets_path(@project) , method: :get, class: "btn btn-info"
