.page-header
  %h1
    = @ticket.name
    %small from project: 
    = @project.name

%h3
  %strong Description:
  = @ticket.description
%h3
  %strong Status:
  = @ticket.status
%h3
  %strong Difficulty:
  = @ticket.difficulty
%h3
  %strong Attachment name:
  = @ticket.attachment_name
%br
%strong Picture:
= image_tag @ticket.picture.url(:medium)
%br
%br
=link_to 'Back to list of tickets', project_tickets_path(@project) , method: :get, class: "btn btn-info"
