%h3
  %strong name:
  = @project.name
%h3
  %strong Description:
  = @project.description
.btn-group
  %button.btn.btn-inverse{:href => "#"} 
    = link_to 'Edit Project', edit_project_path(@project)
.btn-group
  %button.btn.btn-inverse{:href => "#"} 
    = link_to 'Back to Projects', projects_path
.btn-group
  %button.btn.btn-inverse{:href => "#"} 
    = link_to 'Tickets', project_tickets_path(@project, @ticket)