.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Projekt Zaliczeniowy', welcome_index_path
      %ul.nav.navbar-nav
        %li= link_to 'Projects', projects_path
        
      %ul.nav.navbar-nav.navbar-right
        .btn-group
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
            Account
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              - if user_signed_in?
                = link_to "Edit Your Account", edit_user_registration_path
            %li   
              = link_to "Register New Account", new_user_registration_path
            %li
              = link_to "Add member to Project", new_user_invitation_path
            %li
              - if user_signed_in?
                = link_to "Sign_out", destroy_user_session_path, method: :delete
              - else
                = link_to "Sign_in", new_user_session_path 
      